---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: games
  annotations:
    fluxcd.io/automated: 'true'
spec:
  replicas: 3
  strategy:
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 1
  minReadySeconds: 5
  selector:
    matchLabels:
      app: games
  template:
    metadata:
      labels:
        app: games
    spec:
      containers:
      - name: games
        image: 833104194858.dkr.ecr.us-east-1.amazonaws.com/qa-bootcamp_games:585dd833b36502f123462b4e726c542b3bdf7d31
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: games
spec:
  selector:
    app: games
  ports:
  - protocol: TCP
    port: 80
    targetPort: 8080
---
apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: games
  annotations:
    kubernetes.io/ingress.class: alb
    alb.ingress.kubernetes.io/scheme: internet-facing
    alb.ingress.kubernetes.io/target-type: ip
spec:
  rules:
  - http:
      paths:
      - path: /*
        backend:
          serviceName: games
          servicePort: 80
